.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
   }


.navbar li {
     float: left;

    }

.navbar li a{
        display: block;
        color: white;
        text-align:  center;
        padding: 14px 16px;
        text-decoration: none;


    }

    .navbar li a houver {
        background-color: #111

   } 


    /**teste////////////////////////////////////////////////////////////////////////


    
